{{abc}}
<div ng-if="eventHeaderLoaded">
	<ng-form name="abc"></ng-form>
</div>
<ul class="tab">
	<li ng-repeat="participant in participants" class="active"><a href class="tablinks">Peserta {{$index + 1}}</a><span>Delete</span></li>
	<li class="new"><a href class="tablinks" ng-click="addParticipant({})">+ Tambah Peserta</a></li>
</ul>
<ng-form class="grid-form" role="form" ng-if="eventHeaderLoaded" name="regForm" ng-submit="doSubmit()">
	<div ng-repeat="participant in participants" class="tabcontent">
		<fieldset>
			<legend>Data Diri</legend>
			<div data-row-span="1">
				<div data-field-span="1">
					<label>
						Category
						<i><b>Error :</b> Must not be here</i>
					</label>
					<select>
						<option ng-repeat="category in categories" value="{{category.id}}">{{category.evncName}}</option>
					</select>
				</div>
			</div>
			<div data-row-span="1" ng-repeat="field in formFields">
				<div data-field-span="1" class="alert">
					<label>
						{{field.evhfLabel}} // {{field.evhfType}}
						<i><b>Error :</b> Must not be here</i>
					</label>
					<input ng-model="participant[field.evhfName]" type="text">
				</div>
			</div>
			<!--div data-row-span="2">
				<div data-field-span="1">
					<label>Gender</label>
					<label><input type="checkbox"> Male</label> &nbsp;
					<label><input type="checkbox"> Female</label>
				</div>
				<div data-field-span="1">
					<label>Nationality</label>
					<select>
						<option value="Western Sahara" title="Western Sahara">Western Sahara</option>
						<option value="Yemen" title="Yemen">Yemen</option>
						<option value="Zambia" title="Zambia">Zambia</option>
						<option value="Zimbabwe" title="Zimbabwe">Zimbabwe</option>
					</select>
				</div>
			</div-->
		</fieldset>
		<fieldset>
			<legend>Terms And Conditions</legend>
			<div data-row-span="1">
				<div data-field-span="1">
					<label></label>
					<label><input type="checkbox"> Saya bertanggung jawab atas keikutsertaan saya dalam acara ini dan membebaskan steelytoe dari tanggung jawab apabila terjadi sesuatu</label>
				</div>
			</div>
		</fieldset>
	</div>
	<div ng-if="error">
		<h3>{{error.message}}</h3>
	</div>
	<button class="submit" type="submit">Submit</button>
</ng-form>